.event-image {
  float: left;
  display: inline;
  width: 10%;
  min-height: 50px;
}

.event-content {
  padding-left: 10%;
  width: 80%;
}

.event-break {
  clear: both;
  margin-top: 10px;
}

.ev-title {
  font-size: 2.3em !important; 
}