@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	padding: 0;
	margin: 0;
	font-family: VT323, Arial;
}

#pie-sky {
	background-image: url(../img/sky.png);
	background-size: cover;
	background-position: left bottom;
	background-repeat: repeat-x;
	height: 89.0625vh;
	max-height: 912px;
	min-height: 525px;
	min-width: 700px;

}

#pie-logo-container {
	width: 100%;
	height: 100%;
}

#pie-logo {
	display: block;
	margin: auto;
}

#pie-nav {
	background-image: url(../img/ground.png);
	background-size: auto 100%;
	background-position: left bottom;
	background-repeat: repeat-x;
	min-height: 60px;
	height: 10.9375vh;
	max-height: 112px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#pie-dungeon {
	background-image: url(../img/brick.png);
	background-repeat: repeat;
	height: 300vh; /* temporary */
}

.text-center {
	text-align: center;
}