/* CSS and Font Imports */

@import url('https://fonts.googleapis.com/css?family=VT323');

/* Page Styling */

body {
	padding: 0;
	margin: 0;
	font-family: VT323, Arial;
	user-select: none;
}

.body-section {
	min-width: 700px;
	width: 75%;
	max-width: 1200px;
	margin: auto;
}

p {
	padding: 14.4px 0px;
	margin: 0;
}

hr {
	color: white;
}

#pie-title {
	background-image: url(../img/sky.png);
	background-size: cover;
	background-position: left bottom;
	background-repeat: repeat-x;
	height: 89.0625vh;
	max-height: 912px;
	min-height: 525px;
	min-width: 700px;
}

#pie-logo-container {
	width: 100%;
	height: 100%;
}

#pie-logo {
	position: relative;
	display: block;
	margin: auto;
	top: -60px;
}

#enter-hint {
	margin-top: -90px;
	font-size: 2.5em;
}

#pie-nav {
	background-image: url(../img/ground.png);
	background-size: auto 100%;
	background-position: left bottom;
	background-repeat: repeat-x;
	min-height: 60px;
	height: 10.9375vh;
	max-height: 112px;
}

#pie-nav ul {
	height: 100%;
	margin: auto;
	padding: 0;
	display: table;
	text-align: center;
}


#pie-nav ul li {
	display:none;
	opacity:0;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 40px 0px 40px;
	font-size: 2.2em;
	color: white;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.sticky ul li {
	display: inline;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	opacity: 1 !important;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#pie-body {
	background-image: url(../img/brick.png);
	background-repeat: repeat;
	background-position: left bottom;
	color: white;
	text-align: center;
	min-height: 100vh;
}

#pie-body h1, h2, h3, h4, h5 h6 {
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 3px 3px black;
}

#pie-body hr {
	box-shadow: 0px 2px black;
}

#pie-body h2 {
	font-size: 3.4em;
	padding-top: 20px;
	padding-bottom: 20px;
}

#pie-body h3 {
	font-size: 2.5em;
	padding-top: 12px;
	padding-bottom: 12px;
}

#pie-body p {
	font-size: 1.8em;
}

.text-center {
	text-align: center;
}

.sub-list {
	list-style-type: none;
	padding: 0;
}

.sub-list li {
	color: white;
	font-size: 1.5em;
	padding-bottom: 20px;
}

.sub-list li:last-child {
	padding-bottom: 0px;
}

.desc-content {
	padding-left: 10%;
	width: 80%;
}

/* Animations */



/* Buttons */

.btn-googleform {
	text-decoration: none;
	color: white;
	background-color: black;
	font-size: 1.5em;
	padding: .125em .25em;
}

.btn-googleform:hover {
	color: black;
	background-color: white;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	box-shadow: 0px 3px #000000;
	text-shadow: 3px 3px #000000;
}

a:hover {
	color:#cccccc;
	border-bottom: 2px solid #cccccc;
	cursor: pointer;
}

a:active {
	box-shadow: none;
	text-shadow: none;
}